#build files
*.hex
*.lss
*.o
%.elf
%.bin

#verilog build files
*.vcd
*.vvp
*.fst
results.xml

#python build files
*.pyc
*.pyo
__pycache__
.venv*
*.egg-info

#cocotb build files
*.log
sim_build*/
build/

xsim.dir/
*.pb
*.jou
*.wdb
*.backup.jou
*.log
xsim_*.log

# Vivado project files
*.xpr
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/

# OS files
.DS_Store
Thumbs.db
